{% extends 'base.html.twig' %}

{% block title %}comment{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                {% for comment in comments %}
                    <div class="comment card">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-img" src="{{ asset('build/img/avatar.jpg') }}" alt="Avatar">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="comment_link">
                                        <a href="{{ path('show', {'id': comment.id}) }}">edit</a>
                                    </p>
                                    <h5 class="card-title">{{ comment.user.name }}</h5>
                                    <p class="card-text">{{ comment.body }}</p>
                                    <p class="card-text"><small>Posté
                                            le {{ comment.createdAt.format('d/m/Y à H:i') }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
