// import bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: lightgray;
  font-family: "Helvetica Neue", sans-serif;
}

.comment {
  height: 180px;
  max-width: 540px;
  margin: 16px;
}

.comment_link {
  position: absolute;
  top: 8px;
  right: 8px;
}